<h1><%=@sprint.name%> | Planning board</h1>
<div class="col-md-6 col-sm-6 col-xs-12">
  <% @sprint.tasks.each do |task|%>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= task.name %>
      <%= task.id %>
      <%#= link_to 'Edit', edit_project_sprint_task_path(task.sprint_id, task.id)%>
      <%#= link_to 'Show', project_sprint_path(sprint.project_id , sprint.id)%>
      <%#= link_to 'Delete', project_sprint_task_path(:id=> task.id), :method => :delete %>
      <%#= link_to 'Edit', [:edit, @sprint.tasks, @task] %>
    </div>
  <%end%>
</div>

<div class="row">

<div id="board" class="col-md-12">
<h3>Board </h3>
  <div class="row">
  
     <div class="col-md-3">ToDo</div><div class="col-md-3">In Progress</div><div class="col-md-3">QA</div> <div class="col-md-3">Done</div>
  
    <ul id="0" class="container-stages col-md-3">
      <% @sprint.tasks.each do |task|%>
        <% if task.state_task == '0'%>
          <li id='<%= task.id %>'  class="li-task" draggable="true" data-remote="true">
            <%= task.name %>
            <%= task.type_task %>
          </li>
        <%end%>
      <%end%>
    </ul>
    <ul id="1" class="container-stages col-md-3">
      <% @sprint.tasks.each do |task|%>
        <% if task.state_task == '1'%>
          <li id='<%= task.id %>'  class="li-task" draggable="true" data-remote="true">
            <%= task.name %>
            <%= task.type_task %>
          </li>
        <%end%>
      <%end%> 
    </ul>
    <ul id="2" class="container-stages col-md-3">
      <% @sprint.tasks.each do |task|%>
        <% if task.state_task == '2'%>
          <li id='<%= task.id %>'  class="li-task" draggable="true" data-remote="true">
            <%= task.name %>
            <%= task.type_task %>
          </li>
        <%end%>
      <%end%>
    </ul>
    <ul id="3" class="container-stages col-md-3">
      <% @sprint.tasks.each do |task|%>
        <% if task.state_task == '3'%>
          <li id='<%= task.id %>'  class="li-task" draggable="true" data-remote="true">
            <%= task.name %>
            <%= task.type_task %>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>
</div>
<script type="text/javascript">
  
$(document).ready(function(){
  var stage_id;
  var task_id;

  $('li').bind('dragstart', function(event) {
    event.originalEvent.dataTransfer.setData("text/plain",  event.target.getAttribute('id'));
    task_id = $(event.target).attr('id');
  });

  $('ul').bind('dragover', function(event) {
    event.preventDefault();
  });

  $('ul').bind('dragenter', function(event) {
    $(this).addClass("over");
  });

  $('ul').bind('dragleave drop', function(event) {
    stage_id = $(event.target).attr('id');

    $(this).removeClass("over");
  });

  $('li').bind('drop', function(event) {
    return false;
  });

  $('ul').bind('drop', function(event) {
    var listitem = event.originalEvent.dataTransfer.getData("text/plain");
    event.target.appendChild(document.getElementById(listitem));
    var container_stage = $(this).attr('id');
    $(this).children().attr('container-stage',container_stage);
    changeStage()
    event.preventDefault();
  });

  function changeStage(){
    data_send = { id: task_id,state_task:stage_id }
    var url = "/projects/5/sprints/43/tasks#change_stage"
    $.ajax({
      method: 'put',
      url: url,
      dataType: 'html',
      data: data_send,
        success: function(data) {
         //console.log(data)
      }
    });
  }
});


</script>
       
   
 

