<div class="col-md-6 col-sm-6 col-xs-12">

<% @tasks.each do |task|%>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= task.name %>
    <%= task.id %>
    <%#= link_to 'Edit', edit_project_sprint_task_path(task.sprint_id, task.id)%>
    <%#= link_to 'Show', project_sprint_path(sprint.project_id , sprint.id)%>
    <%#= link_to 'Delete', project_sprint_task_path(:id=> task.id), :method => :delete %>
    <%#= link_to 'Edit', [:edit, @sprint.tasks, @task] %>
    
  </div>
   <%#= link_to 'edit', '#', class: 'btn btn-primary', id: 'edit_task' %>
<%end%>
</div>

<h1>Gap Planning board</h1>
<div class="row">
<div id="board" class="col-md-12">
  <div class="row">
  
     <div class="col-md-3">ToDo</div><div class="col-md-3">In Progress</div><div class="col-md-3">QA</div> <div class="col-md-3">Done</div>
  
    <ul id="todo" class="container-stages col-md-3">
       
        <% @tasks.each do |task|%>
        <li id='<%= task.name %>'  class="li-task" draggable="true">Task 1
          <%= task.name %>
          <%= task.state_task %>
          <%= task.type_task %>
        </li>
        <%end%>
    </ul>
     <ul id="inprogress" class="container-stages col-md-3">
     
    </ul>
    <ul id="qa" class="container-stages col-md-3">
    
    </ul>
    <ul id="done" class="container-stages col-md-3">
    
    </ul>
  </div>
</div>
</div>
<script type="text/javascript">
  
$(document).ready(function(){
  $('li').bind('dragstart', function(event) {
    event.originalEvent.dataTransfer.setData("text/plain",  event.target.getAttribute('id'));
  });

  $('ul').bind('dragover', function(event) {
    event.preventDefault();
  });

  $('ul').bind('dragenter', function(event) {
    $(this).addClass("over");
  });

  $('ul').bind('dragleave drop', function(event) {
    $(this).removeClass("over");
  });

  $('li').bind('drop', function(event) {
    return false;
  });

  $('ul').bind('drop', function(event) {
    var listitem = event.originalEvent.dataTransfer.getData("text/plain");
    event.target.appendChild(document.getElementById(listitem));
    event.preventDefault();
  });
});

</script>
       
   
 

