<div class="container">
  <h1>Sprints#edit</h1>
 <%= simple_form_for ([@project, @sprint, @task]) do |f| %>
    
  
  <div class="form-group">
    <%= f.input :name, value:'Sprint', class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.input :state_task, :collection => { 'DEV' => 0,'QA' => 1, 'FINISHED' => 2}, :multiple => true, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.input :type_task, class: "form-control" %>
  </div>
   
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>

</div>