<div id="tabs-sprints" class="container-fluid"> 
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#1" data-toggle="tab">Sprint Overview</a>
      </li>
      <li><a href="#2" data-toggle="tab">Metrics</a>
      </li>
      <li><a href="#3" data-toggle="tab">Sprint Tasks</a>
    </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane active" id="1">
      <div class="col-md-12 col-sm-12 colcol-xs-12 blog-content">
        <div class=""><%= @sprint.name %></div>
        <div class=""><%= "Hours: "+ @sprint.hours.to_s %></div>
        <div class=""><%= "Number of Tasks: "+@sprint.number_tasks.to_s %></div>
        <div class=""><%= "Number of Compromised Tasks: "+@sprint.num_compromised_points.to_s %></div>
        <div> <%= "Sprint start: "+@sprint.begin_sprint.strftime("%B %e %Y") %></div>
        <div><%= "Sprint End: "+@sprint.end_sprint.strftime("%B %e %Y") %></div>
        <% @sprint_days = (@sprint.end_sprint - @sprint.begin_sprint).to_i / (24*60*60) %>
        <div class="">
          <%= 
            if @sprint.state == '0'
              @sprint.state = 'Sprint state: ACTIVE'
            elsif @sprint.state == '1'
              @sprint.state = 'Sprint state: CLOSED'
            else  
              @sprint.state = 'Sprint state: PAUSED'
            end
          %>
        </div>
        <%= link_to 'Add New Task', '#', class: 'btn btn-primary', id: 'new_task' %>
        <div id="form-sprints" class="center-div col-md-3 col-sm-3 col-xs-12">
          <%= render 'tasks/form'%>
        </div> 
      </div>
    </div>
    <div class="tab-pane" id="2">
      <%=
        start = @sprint.begin_sprint.to_datetime
        finish = @sprint.end_sprint.to_datetime
        @arrayOfdays = (start..finish).map do |days|
          days.strftime("%e").to_i
        end
      %>
      <div id="sprintChart" class="col-md-12 cols-sm-12 col-xs-12 "></div>
    </div>
    <div class="tab-pane" id="3">
      <h3>Board </h3>
      <%= render :template => "tasks/index" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var sprint = "<%= @sprint.name %>"
  var arrayDays = <%= @arrayOfdays %>
  
  $(document).ready(function(){
    $( '#new_task' ).click(function(e) {
      e.preventDefault();
      $('#form-sprints').toggle('slow',function(){
      $('#sprint_name').focus();
      });  
    });
    var divWidth = $('.center-div').width();
    var windowWidth = $(window).width();
    $('#form-sprints').css({'left': (windowWidth-divWidth)/2 })
  })
    
  $(function () {
    
      Highcharts.chart('sprintChart', {
          chart: {
              type: 'areaspline'
          },
          title: {
              text: sprint
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              x: 150,
              y: 100,
              floating: true,
              borderWidth: 1,
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
          },
          xAxis: {
              categories: arrayDays,
              /*plotBands: [{ // visualize the weekend
                  from: 4.5,
                  to: 6.5,
                  color: 'rgba(68, 170, 213, .2)'
              }]*/
          },
          yAxis: {
              title: {
                  text: 'Tasks'
              }
          },
          tooltip: {
              shared: true,
              valueSuffix: ' Tasks'
          },
          credits: {
              enabled: false
          },
          /*plotOptions: {
              areaspline: {
                  fillOpacity: 0.5
              }
          },*/
          series: [
          {
              name: sprint,
              data: [3, 4, 3, 5, 4, 10, 12, 5, 12, 36]
          }
          ]
      });
  });
</script>







